/* h2{
   margin-left: 175px;
 }
 .dimple-custom-axis-title {
     font-family: Verdana !important;
   font-size: 1em !important;
   font-weight: 700;
   }

 .dimple-custom-axis-label{
   font-family: Verdana !important;
   font-size: 1em !important;
   font-weight: 600;
   }

 .dimple-legend-text{
   font-size: 1em !important;
   font-weight: 700;
   }
 /*
 svg{
   background: -webkit-linear-gradient(top, #ff0000 0%,#f86c57 35%,#ffff00 45%,#fffff0 85%,#ffffff 100%) !important; /* Chrome10-25,Safari5.1-6 */
   /* } */
  /* #chartLabel{
   position: absolute;
   background-color: green;*/
   /* background: -webkit-linear-gradient(top, #008000 0%,#00a200 45%,#00c400 65%,#00f000 100%) !important; /* Chrome10-25,Safari5.1-6 */
                 /* padding: 10px;
   top: 300px;
   left: 280px;
  } */
  /* */
  /* #line1{
   font-size: 1.5em;
   color: white;
   font-weight: 700;}
 #line2{
   font-size: 1em; */
   /* color: black;
   font-weight: 600;}   		 */ */ */ */
